@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #FFF6F6;
  --primary-color: #000000;
  --secondary-color: #f39fa8;
  --primary-shadow: #868cd4;
  --secondary-shadow: #c27989;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --transition: 0.3s;
  --spacing: 1.5;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

/* CSS Resets end */


/*GENERAL TEXTS*/

#text1 {
  position: relative;
  font-size: 20px;
  z-index: 9;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

/*GENERAL TEXTS end*/


/* Navbar */
nav {
  /* position: sticky; */
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: #FFF2F2;
  box-shadow: 0 8px 4px #FFEBEB;
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* Navbar ends */

/* Hero section */
.intro {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
  border-left: 50px solid var(--bg-color);
  border-right: 50px solid var(--bg-color);
}

.intro img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.intro p {
  margin:30px;
  /* position: relative; */
  font-size: 20px;
  color: var(--primary-color);
  line-height: var(--spacing);
}

/* More about */
.more-about {
  background-color: var(--bg-color);
  /* padding: 1rem 6rem; */
}

.more-about h2 {
  font-weight: var(--bold-font);
  font-size: 20px;
  text-align: center;
  border-bottom: 15px solid var(--bg-color);
}

.more-about p {
  line-height: var(--spacing);
  font-size: 20px;
  border-left: 70px solid var(--bg-color);
  border-right: 70px solid var(--bg-color);
}
/* More about ends */

/* Experience section starts*/

.experiences-section {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
  border-top: 10px solid var(--bg-color);
}

.experiences-section h2 {
  font-weight: var(--bold-font);
  font-size: 20px;
  text-align: center;
  border-top: 20px solid var(--bg-color);
  border-bottom: 15px solid var(--bg-color);
}

.experiences-section h3 {
  font-weight: var(--bold-font);
  font-size: 20px;
  text-align: center;
  color: #7B7373;
  border-top: 15px solid var(--bg-color);
  border-bottom: 15px solid var(--bg-color);
}

/* Experience section ends*/


/* Experiences section */

.experiences {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 10rem var(--bg-color);
}

.experiences h3 {
  color: var(--primary-color);
}

.experiences-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.experiences-title {
  text-align: center;
  margin-bottom: 1rem var(--bg-color);
}

.experience-pic {
  width: 100%;
  height: 60%;
}

.experience-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  background-color: #fff;
  gap: 1.9rem;
}

.experience-container p {
  padding: 0.4rem;
}

.experience-title {
  margin-bottom: var(--bottom-margin);
}

.experience-details {
  margin-bottom: var(--bottom-margin);
  text-align: left;
}
/* Experiences section ends */

/* Projects section */
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem var(--bg-color);
}

.projects h2 {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  border-left: 70px solid var(--bg-color);
  border-right: 70px solid var(--bg-color);
}

.projects h3 {
  font-weight: 500;
  font-size: 15px;
  text-align: left;
  border-left: 70px solid var(--bg-color);
  border-right: 70px solid var(--bg-color);
  line-height: var(--spacing);
}

.projects p {
  line-height: var(--line-height);
  padding: 0.4rem;
  border-left: 70px solid var(--bg-color);
  border-right: 70px solid var(--bg-color);
  line-height: var(--spacing);
}

.projects ul{
  list-style-type: disc;
  border-left: 100px solid var(--bg-color);
  border-right: 100px solid var(--bg-color);
  line-height: var(--spacing);
}

/* Projects section ends */


/* Art section starts */

.art-section {
  background-color: var(--bg-color);
  padding: 32px 0;
  border-left: 100px solid var(--bg-color);
  border-right: 100px solid var(--bg-color);
}

.art-section h1 {
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  line-height: var(--spacing);
}

.art-section img {
  border-top: 20px solid var(--bg-color);
  display: block;
  width: 40%;
  height: auto;
  align-items: left;
}

/* Art section ends */


/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0 var(--bg-color);
}
/* Footer section ends */
